# Ignore MQ2008 datasets (too large)
MQ2008/min.txt
MQ2008/NULL.txt
MQ2008/Querylevelnorm.txt

MQ2008/Fold1/test.txt
MQ2008/Fold1/train.txt
MQ2008/Fold1/vali.txt

MQ2008/Fold2/test.txt
MQ2008/Fold2/train.txt
MQ2008/Fold2/vali.txt

MQ2008/Fold3/test.txt
MQ2008/Fold3/train.txt
MQ2008/Fold3/vali.txt

MQ2008/Fold4/test.txt
MQ2008/Fold4/train.txt
MQ2008/Fold4/vali.txt

MQ2008/Fold5/test.txt
MQ2008/Fold5/train.txt
MQ2008/Fold5/vali.txt

# Ignore MQ2007 datasets (too large)
MQ2007/min.txt
MQ2007/NULL.txt
MQ2007/Querylevelnorm.txt

MQ2007/Fold1/test.txt
MQ2007/Fold1/train.txt
MQ2007/Fold1/vali.txt

MQ2007/Fold2/test.txt
MQ2007/Fold2/train.txt
MQ2007/Fold2/vali.txt

MQ2007/Fold3/test.txt
MQ2007/Fold3/train.txt
MQ2007/Fold3/vali.txt

MQ2007/Fold4/test.txt
MQ2007/Fold4/train.txt
MQ2007/Fold4/vali.txt

MQ2007/Fold5/test.txt
MQ2007/Fold5/train.txt
MQ2007/Fold5/vali.txt